# Application Environment configurations
ENVIRONMENT="dev"
APP_VERSION="v1"
APP_CODE="CYNEFIN"
APP_NAME="CYNEFIN"
APP_SAFE_DOMAINS="http://localhost:3000,http://[IP_ADDRESS]"
APP_DEVELOPER="Joseph Theuri"
# CORE Database Configurations
CORE_DB_DRIVER="mysql"
CORE_DB_HOST="localhost"
CORE_DB_PORT="3306"
CORE_DB_DATABASE="cynefin"
CORE_DB_USERNAME="root"
CORE_DB_PASSWORD="toor"
JWT_SECRET="29a597b85d2a3daffc594f6f23d475698e8126dad977a616f57b0e2de97d319a"

